* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: white;
    margin: 0 50px;
}

.logo {
    margin: 10px;
}


/*********** Drum kit ***********/
.drum-set {
    margin: 40px 68px 40px 2px;
    height: 720px;
    background-color: white;
    position: relative;
    font-size: 50px;
}

.key {
    color: #FCFCF3;
    text-align: center; 
    top: 50%;
    position: relative;
    font-size: 1em;
    transform: translateY(-50%);
    font-family: 'Roboto', sans-serif;
}

.circle {
    transition: all .07s ease;
}

.playing {
    transform: scale(1.1);
    border: 5px solid #ffc600;
    /* border-color: #ffc600; */
    box-shadow: 0 0 0 5px #ffc600 ;
}

.floor-tom .key, .high-tom .key, .mid-tom .key, .kick .key, .snare .key {
    color: black;
}


.crash-cymbal {
    left: 33%;
    top: 6%;
    height: 4em;
    width: 4em;
    background-color: black;
    border-radius: 50%;
    margin: 10px; 
    position: absolute;
}

.snare {
    left: 29%;
    top: 34%;
    height: 4.5em;
    width: 4.5em;
    background-color: #FCFCF3;
    border: 10px solid black;
    border-radius: 50%;
    margin: 10px; 
    position: absolute;
}

.hihats {
    left: 23%;
    right: 79.92%;
    top: 28%;
    position: absolute;
    height: 3.5em;
    width: 3.5em;
    background-color: black;
    border-radius: 50%;
    margin: 10px;
}

.high-tom {
    left: 40%;
    top: 23%;
    height: 3.5em;
    width: 3.5em;
    background-color: #FCFCF3;
    border: 10px solid black;
    border-radius: 50%;
    margin: 10px; 
    position: absolute;
}

.kick {
    left: 40.7%;
    top: 49%;
    height: 6.5em;
    width: 6.5em;
    background-color: #FCFCF3;
    border: 10px solid black;
    border-radius: 50%;
    margin: 10px; 
    position: absolute;
}

.mid-tom {
    right: 36%;
    top: 23%;
    height: 3.5em;
    width: 3.5em;
    background-color: #FCFCF3;
    border: 10px solid black;
    border-radius: 50%;
    margin: 10px; 
    position: absolute;
}

.floor-tom {
    right: 22%;
    top: 31%;
    height: 5.5em;
    width: 5.5em;
    background-color: #FCFCF3;
    border: 10px solid black;
    border-radius: 50%;
    margin: 10px; 
    position: absolute;
}

.ride {
    right: 25%;
    top: 8%;
    height: 4.5em;
    width: 4.5em;
    background-color: black;
    border-radius: 50%;
    margin: 10px; 
    position: absolute;
}
